<% layout('/layouts/boilerplate.ejs') %>
<div class="row mt-3">
    <div class="col-8 offset-2">
<body>

    <h3>Edit your Listing</h3>
    <form method="POST" action="/listingz/<%= reqd._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">  
        <!-- enctype is encoding type -->
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="jvobj[title]" placeholder="enter title" type="text" class="form-control" required  value="<%= reqd.title %>"/>
            <div class="valid-feedback">
                Title looks good!
              </div>
              <div class="invalid-feedback">
                Please provide a valid title.
              </div>
        </div>
        <br /><br />
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="jvobj[description]" placeholder="enter description" class="form-control" required ><%= reqd.description %></textarea>
        </div>
        <br /><br />
        <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input name="jvobj[image][url]" placeholder="enter image URL/Link" type="file" class="form-control" required  value="<%= reqd.image.url %>"/>
        </div>
        <br /><br />
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input name="jvobj[price]" placeholder="enter price" type="number" class="form-control" required  value="<%= reqd.price %>"/>
        </div>
        <br /><br />
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <br>
            <input name="jvobj[country]" placeholder="enter country" type="text"  class="form-control" required  value="<%= reqd.country %>"/>
        </div>
        <br /><br />
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="jvobj[location]"  placeholder="enter location" type="text" class="form-control" required  value="<%= reqd.location %>" />
        </div>
        <button class="btn btn-dark add-btn mt-3 mb-3">Edit</button>
    </form>
</body>
</div>
</div>