<!-- just keep body tag in show.ejs -->
<!-- reference  boilerplate.ejs in layouts folder it pieces it together -->
<% layout('/layouts/boilerplate.ejs') %>

<link rel="stylesheet" href="/public/css/ratings.css">

<h2><%= vari.title %></h2>
<div class="row">
  <div class="col-8 offset-2">
    <div class="card col-6" >
      <img src="<%= vari.image.url %>" class="card-img-top" alt="..." >
      <div class="card-body">
        <p class="card-text">
          <ul style="list-style-type:none;">
            <li><%= vari.description %></li>
            <li>&#8377; <%= vari.price.toLocaleString("en-IN") %></li>
            <li><%= vari.location %></li>
            <li><%= vari.country %></li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>
    
    <br />
    <div class="col-1">
      <a href="/listingz/<%= vari._id %>/edit" class="btn btn-dark add-btn">Edit</a>

      <form method="POST" action="/listingz/<%=vari._id%>?_method=DELETE">
        <br />
        <button class="btn btn-dark">Delete</button>
      </form>
    </div>
    <br />

<div>
    <br><br>
    <hr>
    <form method="POST" action="listingz/<%= vari.id %>/reviews"></form>
    <h4>Leave a comment</h4>
    <div>
      <label for="rating" class="form-label">Rating</label>
      <input type="range" min="1" max="5" id="rating" name="review[rating]" >
    </div>


    <fieldset class="starability-slot">
      <legend>First rating:</legend>
      <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
      <input type="radio" id="first-rate1" name="rating" value="1" />
      <label for="first-rate1" title="Terrible">1 star</label>
      <input type="radio" id="first-rate2" name="rating" value="2" />
      <label for="first-rate2" title="Not good">2 stars</label>
      <input type="radio" id="first-rate3" name="rating" value="3" />
      <label for="first-rate3" title="Average">3 stars</label>
      <input type="radio" id="first-rate4" name="rating" value="4" />
      <label for="first-rate4" title="Very good">4 stars</label>
      <input type="radio" id="first-rate5" name="rating" value="5" />
      <label for="first-rate5" title="Amazing">5 stars</label>
    </fieldset>

      <div>
        <label for="comment" class="form-label">Comment</label>
        <textarea name="review[comment]" id="comment" class="form-control"></textarea>
      </div>
      <br>
      <button class="btn btn-dark">Submit</button>
      </form>
  </div>
  <hr>
  <h3>all reviews</h3>
  <% for (rev of vari.reviews){ %>
      <li><%= rev.comments %>, <%= rev.rating %> stars</li>
    <% } %>

